DATABASE_URL=(postgrsql...uri no quotes or spaces)
SECRET_KEY=secret # should probably be a strong random string
GOOGLE_CLIENT_ID= #client ID from google\s cloud dashboard
GOOGLE_CLIENT_SECRET= #client secret from google's cloud dashboard
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/callback # Should match wherever the backend is listening
CORS_ORIGINS=http://localhost:5173/ # Wherever your site is hosted
